In [1]:
# standard import of pandas
import pandas as pd
# additional import of the geopandas package
import geopandas as gpd
# import numpy
import numpy as np
# package for unzipping zip files
import zipfile 
# driver for geopandas 
import fiona; #help(fiona.open) 
# import matplotlib
import matplotlib.pyplot as plt
# hides warning messages
#import warnings
#warnings.filterwarnings("ignore")
from shapely.geometry import Point, Polygon

In [ ]:
#trees
trees_data = gpd.read_file("data/cleaned/trees.geojson")

In [12]:
#trees update 07.09.2022
trees_data = gpd.read_file("data/cleaned/trees_cl_new.geojson")

In [13]:
# creating new Dataframe so we don't have to reimport it if something goes wrong
trees = trees_data
trees.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 801202 entries, 0 to 801201
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   baum_id     801202 non-null  object
 1   art_dtsch   798790 non-null  object
 2   art_bot     801202 non-null  object
 3   gattung     798792 non-null  object
 4   pflanzjahr  801202 non-null  int64
 5   standalter  801202 non-null  int64
 6   kronedurch  451596 non-null  float64
 7   stammumfg   795511 non-null  float64
 8   baumhoehe   633094 non-null  float64
 9   namenr      801178 non-null  object
 10  bezirk      801202 non-null  object
 11  typ         801202 non-null  int64
 12  geometry    801202 non-null  geometry
dtypes: float64(3), geometry(1), int64(3), object(6)
memory usage: 79.5+ MB

In [ ]:
### versiegelung 
vers_data = gpd.read_file("data/cleaned/versiegelung_cl.geojson")

In [ ]:
#bodendaten 
boden_data = gpd.read_file("data/cleaned/boden_cl.geojson")

In [ ]:
boden_test = boden_data

In [ ]:
boden_test = boden_test.convert_dtypes()

In [ ]:
boden_test.info()

In [ ]:
boden_test.boundary.plot(linewidth=1, edgecolor="magenta",figsize=(100,100))

In [ ]:
boden_test = boden_test.to_crs(trees.crs)

In [ ]:
trees_str = gpd.tools.sjoin_nearest(trees, boden_test, distance_col="distances")

In [ ]:
trees_str.duplicated('baum_id').value_counts()

In [ ]:
trees_str.drop_duplicates(subset='baum_id', inplace=True)

In [ ]:
trees_str.info()

In [ ]:
trees_str['boden_id'].count()

In [ ]:
trees_str.info()

In [ ]:
#df.astype({'col1': 'int32'}).dtypes
boden_int = boden_test.astype({'boden_id': int})

In [ ]:
trees_str.to_csv('data/cleaned/boden_near.csv')

In [ ]:
trees_str = trees_str[['baum_id', 'boden_id']]

In [ ]:
trees_str.info()

In [ ]:
boden_int.head()

In [ ]:
#Neuköllnische Allee
#Fritzi-Massary-Straße
#Sonnenallee

In [ ]:
# Example use: get points in Los Angeles, CA.
#pointInLor = gpd.tools.sjoin(both, lor, predicate="within", how='left')
#pnt_LA = points[pointInPolys.NAME=='Los Angeles']
#pnt_ber = both[pointInLor.PLR_NAME=='Parchimer Allee Süd']

In [ ]:
neu = trees_str[trees_str.namenr=='Neuköllnische Allee']

In [ ]:
fritz = trees_str[trees_str.namenr=='Fritzi-Massary-Straße']
sonne = trees_str[trees_str.namenr=='Sonnenallee']

In [ ]:
nur_id = trees_str[trees_str.boden_id=='1400776341000100']

In [ ]:
neu = neu.to_crs(trees_str.crs)

In [ ]:
sonne = sonne.to_crs(trees_str.crs)

In [ ]:
fritz = fritz.to_crs(trees_str.crs)

In [ ]:
fritz.info()

In [ ]:
neu = neu.to_crs(boden_test.crs)

In [ ]:
sonne = sonne.to_crs(boden_test.crs)

In [ ]:
fritz = fritz.to_crs(boden_test.crs)

In [ ]:
trees_str = trees_str.to_crs(boden_test.crs)

In [ ]:
nur_id = nur_id.to_crs(boden_test.crs)

In [ ]:
nur_id['baum_id']

In [ ]:
fritz['boden_id']

In [ ]:
sonne['boden_id']

In [ ]:
neu['boden_id']

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots(figsize=(150,150))
ax.set_aspect('equal')

boden_test.boundary.plot(ax=ax, edgecolor='magenta')
trees_str.plot(ax=ax, color='teal')
nur_id.plot(ax=ax, marker='o', color='gold', markersize=50)


plt.show();

In [ ]:
fig, ax = plt.subplots(figsize=(50,50))
ax.set_aspect('equal')
lor.boundary.plot(ax=ax, color='black', edgecolor='black')
strassenbaeume.plot(ax=ax, linewidth=1,marker = 'o', color="seagreen", markersize=5)
pnt_rol_par.plot(ax=ax, marker='o', color='gold', markersize=5)
lor.apply(lambda x: ax.annotate(text=x['PLR_NAME'], xy=x.geometry.centroid.coords[0], ha='center'), axis=1)

plt.show();

In [ ]:
boden_int = boden_int.to_crs(trees.crs)

In [ ]:
#spatial join trees to updated boden data 
trees_int = gpd.tools.sjoin(trees, boden_int, predicate="within", how='left')

In [ ]:
trees_int.head()

In [ ]:
boden_update = trees_str[['baum_id', 'boden_id']]

In [ ]:
boden_update['boden_id'].nunique()

In [ ]:
boden_update

In [ ]:
boden_update.to_csv('data/cleaned/boden_referenz.csv')

In [ ]:
boden_update['boden_id'].isnull().count()

In [ ]:
# LOR geodata
lor_cl = gpd.read_file('data/cleaned/lor_cl.geojson')

In [ ]:
# converting for not having to load the dataset every time
#trees = tree_data
#vers = vers_data
boden = boden_update
#gw_messstellen geodata subser
#gw_data = gpd.read_file('data/cleaned/gw_subset.geojson')
#gw = gw_data

In [14]:
#reccalculation data with a reduced cleaned dataset on Sep 7th 
gw_data = gpd.read_file('data/cleaned/gw_subset_cl_changed_05_09_22_.geojson')

In [ ]:
#check dataset
trees.head(2)

In [ ]:
boden.head()

In [ ]:
#check lor crs as reference
#lor_cl.crs

In [ ]:
# check boden crs 
#boden.crs

In [ ]:
#check versieglung crs
#vers.crs

In [ ]:
#testplot to check crs
#boden.plot(figsize=(20,20))

In [ ]:
#matching CRS for vers extraction
#vers = vers.to_crs(trees.crs)

In [ ]:
#matching CRS for boden extraction
#boden = boden.to_crs(trees.crs)

In [ ]:
#testplot
#vers.plot(figsize=(25,25));

In [ ]:
# spacial joining trees on vers - multipolygons as trees_vers_sj 
trees_vers_sj = gpd.tools.sjoin(trees, vers, predicate="within", how='left')

In [ ]:
trees_vers_sj

In [ ]:
#reducing the output
trees_vers_id = trees_vers_sj[['baum_id', 'boden_id', 'geometry']]

In [ ]:
#exporting to csv
trees_vers_id.to_csv('data/cleaned/baum_id_boden_id_geometry.csv')

In [ ]:
#### now matching trees to groundwater stations

In [ ]:
#tesplot trees
trees.plot(figsize=(25,25));

In [ ]:
#testplot gw data
gw_data.plot(figsize=(25,25));

In [ ]:
# renaiming dataframe to keep the source and not having to import it again

In [15]:
gw = gw_data

In [6]:
#matching tree crs to gw station crs 
trees = trees.to_crs(gw.crs)

In [16]:
#geopandas.sjoin_nearest trees sjoin nearest on gw stations

trees_dist_gw = gpd.tools.sjoin_nearest(trees, gw, distance_col="distances")

In [17]:
#check result
trees_dist_gw

,baum_id,art_dtsch,art_bot,gattung,pflanzjahr,standalter,kronedurch,stammumfg,baumhoehe,namenr,bezirk,typ,geometry,index_right,gw_id,ground_level,xcoord,ycoord,distances
0,00008100:000bbafb,Pyramiden-Hainbuche,carpinus betulus,CARPINUS,1975,47,NaN,109.0,15.0,Fritz-Reuter-Allee,Neukölln,1,POINT (394532.256 5811460.991),159,496,36.88,394993.3,5811660.53,502.371901
1,00008100:000bbafd,"Berg-Ahorn, Weiss-Ahorn",acer pseudoplatanus,ACER,1975,47,NaN,382.0,NaN,Fritz-Reuter-Allee,Neukölln,1,POINT (394541.924 5811473.217),159,496,36.88,394993.3,5811660.53,488.698381
2,00008100:000bbafe,"Berg-Ahorn, Weiss-Ahorn",acer pseudoplatanus,ACER,1980,42,NaN,98.0,14.0,Fritz-Reuter-Allee,Neukölln,1,POINT (394548.061 5811479.355),159,496,36.88,394993.3,5811660.53,480.688779
3,00008100:000bbaff,"Berg-Ahorn, Weiss-Ahorn",acer pseudoplatanus,ACER,1935,87,NaN,189.0,15.0,Fritz-Reuter-Allee,Neukölln,1,POINT (394556.659 5811495.510),159,496,36.88,394993.3,5811660.53,466.783846
4,00008100:000bbb00,"Berg-Ahorn, Weiss-Ahorn",acer pseudoplatanus,ACER,1975,47,NaN,145.0,15.0,Fritz-Reuter-Allee,Neukölln,1,POINT (394570.160 5811515.745),159,496,36.88,394993.3,5811660.53,447.224952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712499,00008100:00238739,Sand-Birke,betula pendula,BETULA,0,0,NaN,116.0,16.0,Eiskeller-Silbergraswiese,Spandau,2,POINT (373567.384 5827789.602),49,15178,31.46,373922.2,5828011.40,418.436168
745432,00008100:002842a2,Weide,salix spec.,SALIX,0,0,NaN,548.0,18.0,Eiskeller- Biotop,Spandau,2,POINT (373955.337 5828181.014),47,15176,31.38,373922.0,5828013.50,170.799228
745433,00008100:002842a3,Silber-Pappel,populus alba,POPULUS,0,0,NaN,157.0,21.0,Eiskeller- Biotop,Spandau,2,POINT (373986.674 5828182.492),47,15176,31.38,373922.0,5828013.50,180.945307
745434,00008100:002842a4,Silber-Pappel,populus alba,POPULUS,0,0,NaN,141.0,20.0,Eiskeller- Biotop,Spandau,2,POINT (373951.050 5828174.954),47,15176,31.38,373922.0,5828013.50,164.046433
745435,00008100:002842a5,Silber-Pappel,populus alba,POPULUS,0,0,NaN,126.0,21.0,Eiskeller- Biotop,Spandau,2,POINT (373984.605 5828182.049),47,15176,31.38,373922.0,5828013.50,179.800299

In [18]:
#trees_dist_gw[trees_dist_gw.duplicated('baum_id')].tail(25)
#trees_dist_gw.sort_values('baum_id').head(25)
#.sort_values()
#trees_dist_gw.duplicated('baum_id').value_counts()
trees_gw_cl = trees_dist_gw.drop_duplicates('baum_id')

In [19]:
trees_gw_cl

,baum_id,art_dtsch,art_bot,gattung,pflanzjahr,standalter,kronedurch,stammumfg,baumhoehe,namenr,bezirk,typ,geometry,index_right,gw_id,ground_level,xcoord,ycoord,distances
0,00008100:000bbafb,Pyramiden-Hainbuche,carpinus betulus,CARPINUS,1975,47,NaN,109.0,15.0,Fritz-Reuter-Allee,Neukölln,1,POINT (394532.256 5811460.991),159,496,36.88,394993.3,5811660.53,502.371901
1,00008100:000bbafd,"Berg-Ahorn, Weiss-Ahorn",acer pseudoplatanus,ACER,1975,47,NaN,382.0,NaN,Fritz-Reuter-Allee,Neukölln,1,POINT (394541.924 5811473.217),159,496,36.88,394993.3,5811660.53,488.698381
2,00008100:000bbafe,"Berg-Ahorn, Weiss-Ahorn",acer pseudoplatanus,ACER,1980,42,NaN,98.0,14.0,Fritz-Reuter-Allee,Neukölln,1,POINT (394548.061 5811479.355),159,496,36.88,394993.3,5811660.53,480.688779
3,00008100:000bbaff,"Berg-Ahorn, Weiss-Ahorn",acer pseudoplatanus,ACER,1935,87,NaN,189.0,15.0,Fritz-Reuter-Allee,Neukölln,1,POINT (394556.659 5811495.510),159,496,36.88,394993.3,5811660.53,466.783846
4,00008100:000bbb00,"Berg-Ahorn, Weiss-Ahorn",acer pseudoplatanus,ACER,1975,47,NaN,145.0,15.0,Fritz-Reuter-Allee,Neukölln,1,POINT (394570.160 5811515.745),159,496,36.88,394993.3,5811660.53,447.224952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712499,00008100:00238739,Sand-Birke,betula pendula,BETULA,0,0,NaN,116.0,16.0,Eiskeller-Silbergraswiese,Spandau,2,POINT (373567.384 5827789.602),49,15178,31.46,373922.2,5828011.40,418.436168
745432,00008100:002842a2,Weide,salix spec.,SALIX,0,0,NaN,548.0,18.0,Eiskeller- Biotop,Spandau,2,POINT (373955.337 5828181.014),47,15176,31.38,373922.0,5828013.50,170.799228
745433,00008100:002842a3,Silber-Pappel,populus alba,POPULUS,0,0,NaN,157.0,21.0,Eiskeller- Biotop,Spandau,2,POINT (373986.674 5828182.492),47,15176,31.38,373922.0,5828013.50,180.945307
745434,00008100:002842a4,Silber-Pappel,populus alba,POPULUS,0,0,NaN,141.0,20.0,Eiskeller- Biotop,Spandau,2,POINT (373951.050 5828174.954),47,15176,31.38,373922.0,5828013.50,164.046433
745435,00008100:002842a5,Silber-Pappel,populus alba,POPULUS,0,0,NaN,126.0,21.0,Eiskeller- Biotop,Spandau,2,POINT (373984.605 5828182.049),47,15176,31.38,373922.0,5828013.50,179.800299

In [20]:
#reducing dataframe to only contain ids & distance
tree_id_gw_id = trees_gw_cl[['baum_id', 'gw_id']]

In [21]:
tree_id_gw_id

                  baum_id  gw_id
0       00008100:000bbafb    496
1       00008100:000bbafd    496
2       00008100:000bbafe    496
3       00008100:000bbaff    496
4       00008100:000bbb00    496
...                   ...    ...
712499  00008100:00238739  15178
745432  00008100:002842a2  15176
745433  00008100:002842a3  15176
745434  00008100:002842a4  15176
745435  00008100:002842a5  15176

[801193 rows x 2 columns]

In [22]:
#exporting csv
tree_id_gw_id.to_csv('data/cleaned/baum_id_gw_id_07_09_2022.csv')

In [ ]:
wetter_manuell = gpd.read_file('data/cleaned/wetter_id_manuell.geojson')

In [ ]:
wetter_manuell.plot(figsize=(25,25))

In [ ]:
#converting dataframe so we dont have to reimport
wetter_station = wetter_manuell

In [ ]:
#matching tree crs to weather station crs 
trees = trees.to_crs(wetter_station.crs)

In [ ]:
#geopandas.sjoin_nearest trees sjoin nearest on wetter stations

trees_dist_wetter = gpd.tools.sjoin_nearest(trees, wetter_station, distance_col="distances")

In [ ]:
trees_dist_wetter.value_counts('wetter_id')

In [ ]:
trees_dist_wetter.info()

In [ ]:
#reducing the output
trees_wetter_id = trees_dist_wetter[['baum_id', 'wetter_id']]

In [ ]:
trees_wetter_id

In [ ]:
trees_wetter_id.to_csv('data/cleaned/trees_wetter_id.csv')

In [ ]:
#mergin id files 
#lor_id = pd.read_csv('data/cleaned/trees_ids.csv')
#gw_id = pd.read_csv('data/cleaned/baum_id_gw_id.csv')
boden_id = trees_str
#wetter_id = trees_wetter_id

In [ ]:
lor_id = lor_id.drop('Unnamed: 0', axis=1)

In [ ]:
lor_id.to_csv('data/cleaned/lor_id_cl.csv')

In [ ]:
lor_id

In [ ]:
boden_id['boden_id'].info()

In [ ]:
boden_cl = boden_id.drop('Unnamed: 0', axis=1)

In [ ]:
boden_cl

In [ ]:
boden_cl = boden_cl.drop('geometry', axis=1)

In [ ]:
boden_cl

In [ ]:
trees_wetter_id

In [ ]:
lor_id

In [ ]:
gw_id

In [ ]:
gw_id_cl = gw_id.drop('Unnamed: 0', axis=1)

In [ ]:
gw_id_cl

In [ ]:
#merge_1 = pd.merge(lor_id, gw_id, , on='baum_id', how='left')
merge_1 = lor_id.merge(gw_id_cl, how='left', on='baum_id')

In [ ]:
merge_1

In [ ]:
merge_2 = merge_1.merge(boden_id, how='left', on='baum_id')

In [ ]:
merge_2

In [ ]:
merge_3 = merge_2.merge(wetter_id, how='left', on='baum_id')

In [ ]:
merge_3

In [ ]:
fact = merge_3

In [ ]:
fact.info()

In [ ]:
fact.to_csv('data/cleaned/fact.csv')

In [ ]:
fact